/* 
 * ConnectFour Flat
 * Written by Sam Reaves
 * October 2013
 */

root { 
    display: block;
}


html {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    color: #FFF;
}
body {
    background: /*#867979*/#97e365;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    color: #FFF;
}

a, img {
    border: 0;
}

h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

#game {
    margin: 0 auto;
    padding: 0;
    top: 0px;
    width: 613px;
    height: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

#header {
    height: 50px;
    width: 613px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    /*font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;*/
}

#messages {
    width: 613px;
    height: 50px;
    padding: 15px 0 0 0;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#drop_space {
    width: 613px;
    height: 80px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;

}

#game_board {
    width: 613px;
    height: 508px;    
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: /*#17DE92*//*#97e365*//*#fff06e*/#44b5ef;
    z-index: 3;
    position: relative;
}

.col {
    display: inline-block;
    width: auto;
    height: 498px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 1;
}

.space {
    width: 75px;
    height: 75px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: block;
    background: #FFF;
    padding: 0;
    margin: 4px 2px 4px 2px;
}

.token {
    width: 75px; 
    height: 75px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: absolute;
    z-index: 99;
    cursor: pointer;
    left: 18px;
}

.player1 {
    background: /*#FFED1A*/#ff6e6e;
    /*left: 18px;*/
}

.player2 {
    background: /*#7B27DE*//*#44b5ef*/#fff06e;
    /*left: 101px;*/
    /*left: 18px;*/
}

#change_background {
    height: 50px;
    width: 613px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 10px 0 0 0;
}

#change_background span {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.background_change_color {
    display: inline-block;
    height: 45px;
    width: 45px;
    margin: 0 15px 0 0;
    padding: 0;
}

#background_change_black {
    background: #000;
    cursor: pointer;
}

#background_change_white {
    background: #FFF;
    cursor: pointer;
}

#background_change_green {
    background: #97e365;
    cursor: pointer;
}